/* ================================================================

	POKEMON BLOCK

================================================================ */

.pokedex .block .info,
.pokedex .block .image {
    display: block;
}

.pokedex .block .info {
	display: flex;
	flex-direction: column;
	color: #fff;
	padding: 10px 20px;
	flex: 1;
}

.pokedex .block .number {
	font-size: 1.4rem;
	font-weight: 500;
	margin: 0;
}

.pokedex .block .name {
	font-size: 1.8rem;
	font-weight: 700;
	margin: 0;
}

.pokedex .block .types {
	display: flex;
	margin-top: 4px;
}

.pokedex .block .type {
	background-color: rgba(255,255,255,.2);
	font-size: 1.4rem;
	padding: 2px 10px;
    border-radius: 30px;
}

.pokedex .block .type:first-child {
	margin-right: 5px;
}

.pokedex .block.grass {
	background-color: #5ef14b;
	border-color: #5ef14b;
}

.pokedex .block.fire {
	background-color: #ff6e3f;
	border-color: #ff6e3f;
}

.pokedex .block.water {
	background-color: #59a7ff;
	border-color: #59a7ff;
}

.pokedex .block .image {
	background-color: #fff;
	width: 160px;
    border-radius: 50px 0 0 50px;
}