
.info .separator {
	margin: 40px 0;
	border-top: 1px solid #ddd;
}

.stats .stat {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.stats .stat-label {
	color: #727272;
	width: 70px;
}

.stats .stat-value {
	width: 60px;
	font-weight: 500;
}

.stats .stat-bar {
	flex: 1;
    height: 8px;
    background-color: #eee;
    border-radius: 30px;
    overflow: hidden;
}

.stats .stat-bar .stat-bar-fill {
	display: block;
    height: 100%;
}

.stats .stat-hp .stat-bar-fill {
	background-color: #4aa94a;
}

.stats .stat-atk .stat-bar-fill {
	background-color: #f75e36;
}

.stats .stat-def .stat-bar-fill {
	background-color: #b77a3f;
}

.stats .stat-spa .stat-bar-fill {
	background-color: #9f3ed5;
}

.stats .stat-spd .stat-bar-fill {
	background-color: #e9cf32;
}

.stats .stat-spe .stat-bar-fill {
	background-color: #486feb;
}

.condition .condition-label {
	color: #727272;
	font-size: 1.4rem;
}

.condition .condition-types {
	display: flex;
}

.condition .type {
	margin-bottom: 10px;
}