/* ================================================================

	POKEMON BLOCK

================================================================ */

.pokedex .block.active {
	display: flex;
}

.pokedex .block .info,
.pokedex .block .image,
.pokedex .block .background {
    display: block;
}

.pokedex .block:hover {
	border-color:#aaa
}

.pokedex .block .info {
	display: flex;
	flex-direction: column;
	color: #333;
	padding: 10px 5px 10px 15px;
	flex: 1;
}

.pokedex .block .number {
	color: #727272;
	font-size: 1.4rem;
	font-weight: 500;
	margin: 0;
}

.pokedex .block .name {
	font-size: 1.8rem;
	font-weight: 700;
	margin: 0;
}

.pokedex .block .types {
	display: flex;
	margin-top: 15px;
}

.pokedex .block .type {
	display: flex;
	align-items: center;
	color: #fff;
	font-size: 1.4rem;
	padding: 5px 10px;
	border-radius: 30px;
}

.pokedex .block .type:first-child {
	margin-right: 10px;
}

.pokedex .block .image {
	position: absolute;
	top: 0;
	right: 0;
	width: 160px;
	height: 120px;
}

.pokedex .block .background {
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
	height: 200px;
	z-index: -1;
}

.pokedex .block .type.neutral {
	background-color: #ada79c;
}

.pokedex .block .type.nature {
	background-color: #3ca33f;
}

.pokedex .block .type.fire {
	background-color: #ff551e;
}

.pokedex .block .type.water {
	background-color: #2e9bf7;
}

.pokedex .block .type.electric {
	background-color: #ffca35;
	color: #cf7500;
}

.pokedex .block .type.wind {
	background-color: #2ed5af;
}

.pokedex .block .type.earth {
	background-color: #cf7735;
}

.pokedex .block .type.metal {
	background-color: #6d7e8d;
}

.pokedex .block .type.ice {
	background-color: #92ffff;
	color: #133ebd;
}

.pokedex .block .type.dark {
	background-color: #7f6c61;
}

.pokedex .block .type.light {
	background-color: #fff089;
	color: #7d790d;
}

.pokedex .block .type.toxic {
	background-color: #b360ff;
}